# Environnement
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
*.log

# Outils
.DS_Store
.idea/
.vscode/
*.swp
